h3
{
  font-size: 25px !important;
}
canvas {
  animation-name: wheee;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.btn-success:hover 
{
background-color: red;
}

@keyframes wheee  
{
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}